*{
    margin: 0;
    padding: 0;
}

#alumni{
    background-color:#0a1931 ;
}
.our-team{
    text-align: center;
    font-weight: normal;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 86%;
    font-size: calc(5vw + 5vh);
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    width: max-content;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 15px #000000;

}
.team-banner{
    height: 100%;
    width: 100%;
    background-image: url(../images/team-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.nita-team{
    width: 100%;
    height: 500px;
    position: relative;
}
.team-lead{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #0a1931;
    margin: 40px auto;
}
.team-leader{
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    background-color:#0a1931;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.team-leader .img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-leader .img .me{
    position: absolute;
}
.team-leader .img .me a{
    margin: 0px;
    padding: 5px;
    display: none;
}
.img a i{
    font-size: large;
    font-weight:bold;
    color:black;
}
.team-leader .img:hover a{
    display: inline;
}
.team-leader .img:hover{
    mix-blend-mode: luminosity;
}
.team-leader .info{
    font-family: 'Ubuntu';
    margin: 10px 0;
    color: white;
}
.team-leader .post{
    font-family: 'Ubuntu';
    color: white;
}
/* tean member */

.team-member{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:#0a1931;
}
/* team images */

.team-leader .img1{
    background-image: url(../images/rishab.jpg);
}
.team-leader .img2{
    background-image: url(../images/pinaki.jpg);
}
.team-leader .img3{
    background-image: url(../images/amit.PNG);
}
.team-leader .img4{
    background-image: url(../images/gokulnath.jpeg);
}
.team-leader .img5{
    background-image: url(../images/gulshan.jpeg);
}
.team-leader .img6{
    background-image: url(../images/shubam\ kumar.jpeg);
}
.team-leader .img7{
    background-image: url(../images/nikitha.jpeg);
}
.team-leader .img8{
    background-image: url(../images/shika_rai.jpeg);
}
.team-leader .img9{
    background-image: url(../images/shivani.jpg);
}
.team-leader .img10{
    background-image: url(../images/tharun.jpg);
}
.team-leader .img11{
    background-image: url(../images/jagadeesh.jpg);
}
.team-leader .img12{
    background-image: url();
}
.team-leader .img13{
    background-image: url(../images/rajeev.jpeg);
}
.team-leader .img14{
    background-image: url(../images/gokulnath.jpeg);
}
.team-leader .img15{
    background-image: url(../images/ashtosh.jpeg);
}
.team-leader .img16{
    background-image: url(../images/anshika.jpeg);
}
.team-leader .img17{
    background-image: url(../images/ramaraju.jpeg);
}
.team-leader .img18{
    background-image: url(../images/priyanshi.jpeg);
}
.team-leader .img19{
    background-image: url(../images/tarun.jpeg);
}
.team-leader .img20{
    background-image: url(../images/ajaj);
}
.team-leader .img21{
    background-image: url(../images/ankul_singh.jpeg);
}

/* Responsive */

@media screen and (max-width:760px)
{
    .nita-team{
        height: 300px;
    }
    .team-leader{
        width: 150px;
        height: 150px;
        margin: 5px 5px;
    }
    .team-leader .img{
        width: 100px;
        height: 100px;
    }
    .img a i{
        font-size:small;
        font-weight:bold;
        color: black;
    }
    .team-leader .info{
        margin: 10px 0;
        font-size: 0.8rem;
    }
    .team-leader .post{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:375px)
{
    .nita-team{
        height: 300px;
        background-size: cover;
    }
    .team-leader{
        width: 100px;
        height: 100px;
        margin: 5px 5px;
    }
    .team-leader .img{
        width: 50px;
        height: 50px;
    }
    .info h3{
        font-size: 0.8rem;
    }
}