*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#0a1931 ;
}


.team-lead{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #0a1931;
    margin: 40px auto;
}
.team-leader{
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    background-color:#0a1931;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.team-leader .img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-leader .img .me{
    position: absolute;
}
.team-leader .img .me a{
    margin: 0px;
    padding: 5px;
    display: none;
}
.img a i{
    font-size: large;
    font-weight:bold;
    color:black;
}
.team-leader .img:hover a{
    display: inline;
}
.team-leader .img:hover{
    mix-blend-mode: luminosity;
}
.team-leader .info{
    font-family: 'Ubuntu';
    margin: 10px 0;
    color: white;
}
.team-leader .post{
    font-family: 'Ubuntu';
    color: white;
}
/* tean member */

.team-member{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:#0a1931;
}
/* team images */


.team-leader .img4{
    background-image: url(../images/unknown.gif);
}
.team-leader .img5{
    background-image: url(../images/unknown.gif);
}
.team-leader .img6{
    background-image: url(../images/unknown.gif);
}
.team-leader .img7{
    background-image: url(../images/unknown.gif);
}
.team-leader .img8{
    background-image: url(../images/unknown.gif);
}
.team-leader .img9{
    background-image: url(../images/unknown.gif);
}
.team-leader .img10{
    background-image: url(../images/unknown.gif);
}
.team-leader .img11{
    background-image: url(../images/unknown.gif);
}
.team-leader .img12{
    background-image: url(../images/unknown.gif);
}
.team-leader .img13{
    background-image: url(../images/unknown.gif);
}
.team-leader .img14{
    background-image: url(../images/unknown.gif);
}
.team-leader .img15{
    background-image: url(../images/unknown.gif);
}
.team-leader .img16{
    background-image: url(../images/unknown.gif);
}
.team-leader .img17{
    background-image: url(../images/unknown.gif);
}
.team-leader .img18{
    background-image: url(../images/unknown.gif);
}
.team-leader .img19{
    background-image: url(../images/unknown.gif);
}
.team-leader .img20{
    background-image: url(../images/unknown.gif);
}
.team-leader .img21{
    background-image: url(../images/unknown.gif);
}
.team-leader .img22{
    background-image: url(../images/unknown.gif);
}
.team-leader .img23{
    background-image: url(../images/unknown.gif);
}
.team-leader .img24{
    background-image: url(../images/unknown.gif);
}
.team-leader .img25{
    background-image: url(../images/unknown.gif);
}
.team-leader .img26{
    background-image: url(../images/unknown.gif);
}
.team-leader .img27{
    background-image: url(../images/unknown.gif);
}
.team-leader .img28{
    background-image: url(../images/unknown.gif);
}
.team-leader .img29{
    background-image: url(../images/unknown.gif);
}
.team-leader .img30{
    background-image: url(../images/unknown.gif);
}
.team-leader .img31{
    background-image: url(../images/unknown.gif);
}
.team-leader .img32{
    background-image: url(../images/unknown.gif);
}
.team-leader .img33{
    background-image: url(../images/unknown.gif);
}
.team-leader .img34{
    background-image: url(../images/unknown.gif);
}
.team-leader .img35{
    background-image: url(../images/unknown.gif);
}
.team-leader .img36{
    background-image: url(../images/unknown.gif);
}
.team-leader .img37{
    background-image: url(../images/unknown.gif);
}

/* Responsive */

@media screen and (max-width:760px)
{
    .nita-team{
        height: 300px;
    }
    .team-leader{
        width: 150px;
        height: 150px;
        margin: 5px 5px;
    }
    .team-leader .img{
        width: 100px;
        height: 100px;
    }
    .img a i{
        font-size:small;
        font-weight:bold;
        color: black;
    }
    .team-leader .info{
        margin: 10px 0;
        font-size: 0.8rem;
    }
    .team-leader .post{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:375px)
{
    .nita-team{
        height: 300px;
        background-size: cover;
    }
    .team-leader{
        width: 100px;
        height: 100px;
        margin: 5px 5px;
    }
    .team-leader .img{
        width: 50px;
        height: 50px;
    }
    .info h3{
        font-size: 0.8rem;
    }
}