#contact-us{
    height: auto;
    background-color: #004a99;
    font-family: 'Ubuntu';
}
.contact{
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.contact .media{
    padding: 3%;
}
.contact .media a{
    padding: 20px;
}
.contact .media a i{
    font-size:3rem;
    color: white;
}
.connect{
    /* padding: 60px; */
    padding: 3%;
    text-align: center;
}
.connect h3{
    text-align: center;
    padding: 7px 0;
}
.connect p{
    padding: 5px 0;
    font-size: medium;
}