:root {
    --bg-color:#0a1931;
    --button-color:#111111;
    --vertical-color: #fff;
    --overlay: #111;
}

#events{
    background-color:var(--bg-color);
}
/* NITA EVENT DIVISION */
.nita-events .event-heading{
    text-align: center;
    font-weight: normal;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 86%;
    font-size: calc(5vw + 5vh);
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    width: max-content;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 15px #000000;

}

.nita-events .banner{
    background-image: url(../images/robo-war.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
}
.nita-events{
    width: 100%;
    height: 500px;
    position: relative;
}

/* EVENT DIV END */

  /* event-container */
.event-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
/* adding border to the event section */

.event-container .event-border {
    margin: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

 /* desktopcard */

 .event-container .desktop-card{
    margin-bottom: 100px;
    position: relative;
    width: 90vw;
    height: 40vw;
    min-width: 500px;
    max-width: 1000px;
    min-height: 200px;
    max-height: 400px;
    background-color: #fff;
    margin-bottom: 20px;
}

/* half circle above(upper-right cutting)*/

.event-container .desktop-card::before{
    content: "";
    z-index: 10;
    position: absolute;
    top: -10px;
    right: 32px;
    display: block;
    width: 16px;
   height: 16px;
   border-radius: 16px;
   background-color: var(--bg-color);
}

/* half circle below(lower-right cutting) */

.event-container .desktop-card::after{
   content: "";
   z-index: 10;
   position: absolute;
   bottom: -10px;
   right: 32px;
   display: block;
   width: 16px;
   height: 16px;
   border-radius: 16px;
   background-color: var(--bg-color);
}

/* dots on image */

.event-container .card-dots {
   z-index: 10;
   position: absolute;
   right: 39px;
   top: 5px;
   padding-left: 0px;
   list-style-type: none;
   overflow: hidden;
}

.hide-overflow{
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
   overflow: hidden;
}
/* dots on cards */

.event-container .card-dots li {
   width: 2px;
   height: 2px;
   border-radius: 2px;
   margin: 6px 0;
   background-color: var(--bg-color);
}

/* event name */

.event-container h2 {
   pointer-events: none;
   z-index: 10;
   font-family: "Poppins", sans-serif;
   position: absolute;
   bottom: 0;
   left: 25%;
   font-size: 400%;
   font-weight: 700;
   color: #fff;
   text-shadow: 0 0 10px #000000;
   /* -webkit-text-stroke: 0.5px var(--overlay); */
}

.event-container .large-head {
   font-size: 350%;
}

/* for arrow */

.event-container i{
   opacity: 0;
   color: #fff;
   will-change: transform;
   -webkit-transform: scale(0.1);
   transform: scale(0.1);
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
}

.event-container .fa-arrow-right {
   font-size: 90%;
   z-index: 20;
   cursor: pointer;
}

.event-container .large-head .fa-arrow-right {
   font-size: 80%;
}
/* vertical line */

.event-container .desktop-card .vertical {
   z-index: 10;
   position: absolute;
   top: 5%;
   left: 14%;
   color: #000;
   font-weight: bold;
   opacity: 0.7;
   font-size: calc(1vw + 1vh);
   letter-spacing: 1px;
   writing-mode: vertical-lr;
   transform: scale(-1,-1);
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   font-family: "Montserrat", sans-serif;
}

/* picture */

.event-container .desktop-card .pic {
   position: absolute;
   top: 0;
   left: 20%;
   z-index: 0;
   width: 80%;
   height: 100%;
   background-size: cover;
   transition: all 0.2s ease;
}

/* circle-button */

.event-container button {
   position: absolute;
   right: 90%;
   bottom: 7%;
   width: 7%;
   padding-top: 7%;
   background-color: var(--button-color);
   border: none;
   border-radius: 400px;
   cursor: none;
   outline: none;
   transition: all 0.3s ease;
   mix-blend-mode: hard-light;
}

.event-container .overlay {
   background-color: var(--overlay);
   opacity: 0.3;
   mix-blend-mode: color-burn;
}

.event-container button i {
   font-size: 3rem;
}


/* description */

.event-container .desktop-card .detail {
   z-index: 30;
   position: absolute;
   top: 10%;
   bottom: 10%;
   left: 25%;
   width: 42%;
   color: #FFF;
   opacity: 0;
   font-size: 1rem;
   /* letter-spacing: 1px; */
   text-align: justify;
   -webkit-transition: all 0.2s ease;
   transition: all 0.2s ease;
   overflow: hidden;
   text-overflow: ellipsis;
   -ms-text-overflow: ellipsis;
   /* font-weight:normal; */
   font-family: "Montserrat", sans-serif;
}

.event-container .desktop-card:hover i{
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
}

.event-container .desktop-card:hover button {
   transform: scale(25.5);
}

.event-container .desktop-card:hover .vertical {
   color: var(--vertical-color);
   text-shadow: 0 0 1px #666;
}

.event-container .desktop-card:hover .pic {
   opacity: 0.9;
   filter: blur(1px);
}
.event-container .desktop-card:hover .detail {
   opacity: 1;
}

/* responsive */

@media screen and (min-width: 1000px) {
    .event-container h2 {
        font-size: 700%;
    }
    .event-container .large-head {
        font-size: 450%;
    }
    .event-container .detail {
        font-size: 105%;
        top: 10%;
    }
}
@media screen and (max-width:760px)
{     
    #events{
       display: none;
    }
    .event-heading{
      font-size: calc(3vw + 3vh);
    }
}

@media screen and (max-width: 800px) {
    .event-container .card-dots {
       display: none;
    }
}

@media screen and (max-width:420px)
{
   .nita-events{
      height: 300px;
   }
}