#faculty{
    height: auto;
    margin: 0;
    padding: 0;
    background-color:#0a1931 ;
    color: white;
}
.layout{
    background-color:#004a99 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dividion{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.layout .pic{
    background-image: url(../images/SUMAN\ DEB\ SIR.png);
    background-position: center;
    background-size: cover;
    border-radius:  50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout div{
    padding: 1% 0;
}
.job{
    text-align: center;
}
.smedia a{
    padding: 5px;
}
.layout .pic a{
    display: none;
    
}
h1{
    padding: 1% 0;
    font-size: 3rem;
}
.advisor-details a i{
    font-size: x-large;
    
}
.advisor-details a{
    padding:2% 10px;
}
.name{
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    
}
.layout .pic:hover a{
    display: inline;
}
.layout .pic:hover{
    mix-blend-mode: luminosity;
}
.fa-researchgate{
    color: #97dc21;
}
.fa-orcid{
    color:#53752c;
}
.fa-globe{
    color: black;
}

@media screen and (max-width:760px) {
    h1{
        font-size: 2rem;
    }
    .layout div{
        padding: 2% 0;
    }
    .name{
        font-size: 1.2rem;
    }
    .job{
        font-size: small;
    }
}