* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9,30,0.7)),url(../img/banner.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li ::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #f44336;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -59%);
    text-align: center;
}
.text-box h1 {
    font-size: 60px;
}
.text-box h3 {
    font-size: 30px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}
.first-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border:  1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.first-btn:hover {
    border: 1px solid red;
    background: red;
    transition: 1s;
}
nav .fa {
    display: none;
}


/* activities */

.acti {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.acti-col {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.acti-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}


/* Events */

.events {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.events-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.events-col img {
    width: 100%;
    display: block;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(226,0,0,0.7);
}
.layer h4 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 16px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h4 {
    bottom: 49%;
    opacity: 1;
}

/* Facilities */
.project {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.project-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.project-col img {
    width: 100%;
    border-radius: 10px;
}
.project-col p {
    padding: 0;
}
.project-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/* Random section */
.ran {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/team-bg.jpg); 
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.ran h1 {
    color: white;
    margin-bottom: 40px;
    padding: 0;
}


/* Footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa {
    color: #263ea6;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o {
    color: red;
}



                     /* Mobile Version */


@media (max-width: 768px)  {
    #header-img {
        width: 110px;
        height: 110px;
    }
    html {
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #263ea6;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px
    }

    /* Media for activities */
    .row {
        flex-direction: column;
    }
    .ran h1 {
        font-size: 24px;
    }
}