/* preloader effect start */
.preloader{
    position: fixed;
    top:0;
    background-color: black;
    width:100%;
    height:100%;
    z-index:10000;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.5s ease;
    transition:all 0.5s ease;
}    
.preloader img{
    width:150px;
    height:150px;
    -webkit-animation: logo 0.5s linear infinite alternate;
    animation: logo 0.5s linear infinite alternate;
}
.preloader-finished{
    opacity:0;
    pointer-events: none;
}
/* preloader style end */

@keyframes logo{
    from{
        -webkit-transform:scale(1);
    }
    to{
        -webkit-transform:scale(1.2);
    }
}