#projects{
    background: #0a1931;
    /* height: 249vh; */
}

#project-cards{
    display: flex;
    flex-wrap: wrap;
    background-color:#0a1931;
}
.anarc-projects .project-heading{
    text-align: center;
    font-weight: normal;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 86%;
    font-size: calc(5vw + 5vh);
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    width: max-content;
    transform: translate(-50%,-50%);
    text-shadow: 0 0 15px #000000;

}
.anarc-projects .projects-bg{
    background-image: url(../images/09.PNG);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.anarc-projects{
    width: 100%;
    height: 500px;
    position: relative;
}
#project-cards .card {
    margin: 60px auto;
    /* border-radius: 10px; */
    width: 400px;
    height: 300px;
    perspective: 1000px;
    /* background-color:  #252839; */
  }

  /* project images */

  #project-cards .card1{
      background-image: url(../images/3D-printer.jpg);
  }
  #project-cards .card2{
    background-image: url(../images/hand.jpg);
}
#project-cards .card3{
    background-image: url(../images/SMARTDUSTBIN.PNG);
}
#project-cards .card4{
    background-image: url(../images/3D-printer.jpg);
}
#project-cards .card5{
    background-image: url(../images/3D-printer.jpg);
}
#project-cards .card6{
    background-image: url(../images/3D-printer.jpg);
}
  #project-cards .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  /* #project-cards .card-inner .is-flipped {
    transform: rotateX(180deg);
  } */
  
  
  #project-cards .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  #project-cards .card-front {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #project-cards .card-front h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 20px #111111;
  }
  
  #project-cards .card-back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  #project-cards .card-content {
    width: 100%;
    height: 100%;
  }
  
  #project-cards .card-header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  #project-cards .card-header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  #project-cards .card-header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  #project-cards .card-body {
    padding: 30px;
  }
  
  #project-cards .card-body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #project-cards .card-body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }
  
@media screen and (min-width:770px)
{
  #project-cards .card:hover .card-inner{
    transform: rotateY(180deg);
  }
}
@media screen and (max-width:770px)
{
    #project-cards .card{
        width: 270px;
        height: 200px;
    }
    .anarc-projects{
      height: 300px;
    }
    #project-cards .card-inner .is-flipped {
        transform: rotateY(180deg);
      }
      /* .project-heading{
          font-size:30px;
          line-height: 50%;
      } */
}

@media screen and (max-width:412px)
{
  #project-cards .anarc-projects{
    height: 300px;
  }
}