*{
margin: 0;
padding: 0;
    
}
.intro{
    background-image:url("../images/soar.JPG") ;
    height: 100vh;
    background-size: cover;
}
.about{
  background-color:#0a1931 ;
  height: auto;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutevent{
    padding:10px;
    font-size:2rem ;
    color:#d8e3e7;
    line-height: 50px;
}

  @media (max-width: 768px) {
    .intro{
      height: 50vh;
      background-size:cover;
    }
    .about{
      height: auto;
      font-size: 0.5rem;
    }
    .aboutevent{
      font-weight: lighter;
      font-size: 0.7rem;
      padding: 3%;
      line-height: 20px;
    }
    .aboutevent ul{
      padding-left: 3%;
    }
  }
  
  