*{
    margin: 0;
    padding: 0;
    /* list-style: none;
    text-decoration: none; */
}
html{
    scroll-behavior: smooth;
}
::selection{
    color: black;
    background-color: white;
}
#intro{
    background-image: url(../images/intro2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:color-dodge;
}



/* Title */
.title {
    padding-top: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    align-items: center;
}
.club-name{
    font-size: 12rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    text-align: center;
}
.asimov{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
}
.aim{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    padding: 80px 0;
    font-style: italic;
    color:white;
    /* text-shadow: 0 0  25px black; */
}
/* logo */
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    width: 100px;
    height: 100px;
    -webkit-animation: logo 0.5s linear infinite alternate;
    animation: logo 0.5s linear infinite alternate;
}

/* animations to logo */
@keyframes logo{
    from{
        -webkit-transform:scale(1);
    }
    to{
        -webkit-transform:scale(1.2);
    }
}

/* Responsive Part */


@media screen and (min-width:900px)
{
    #intro{
        height: 100vh;
    }
}
@media screen and (max-width:768px)
{
    /* logo */
    .logo img{
        margin-top: 0px; 
        width: 50px;
        height: 50px;
        padding-top: 40px;
    }

    
   /* Title section */

    .title{
        padding-top: 20%;
    }
    .club-name{
        font-size: 5rem;
        font-family: 'Montserrat';
        font-weight:bolder;
        color: white;
        text-align: center;
    }
    .asimov{
        text-align: center;
        color: aliceblue;
        font-size: 1.4rem;
    }
    .aim{
        font-size: 1rem;
    }
}

@media screen and (max-width:600px)
{
    .title{
        padding-top: 10%;
    }

}

@media screen and (max-width:420px)
{
   
    
    .title{
        padding-top: 10%;
    }
    .asimov{
        font-size: 1rem;
    }
    .club-name{
        font-size: 5rem;
        font-family: 'Montserrat';
        font-weight:bolder;
        color: white;
        text-align: center;
    }
}
@media screen and (max-width:280px)
{
    .asimov{
        font-size: 0.9rem;
    }
    .club-name{
        font-size: 3rem;
    }
}